{% extends "rayout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

<div class="wrapper">
    <div class="column leftside">
        <form action="/index_before/{{ id }}/{{ name }}" method="POST">
            <a href="/DBregister.html" class="btn btn-primary button">データベース登録</a>
            <a href="/DBlist.html" class="btn btn-primary button">データベース一覧</a>
            <div class="content2">
                <textarea name="Query" id="Query" cols="" rows="" class="column2" placeholder="ここにSQLクエリを入力してください"></textarea>
            </div>
            <button type="submit" name="send" value="temporary" class="btn btn-primary button">一時保存</button>
            <button type="submit" name="send" value="execute" class="btn btn-primary button">実行</button>
            <button type="submit" name="send" value="end" class="btn btn-primary button">終了</button>
        </form>
    </div>
    <div class="column rightside">
        <div class="content2">
            <section class="typeA">
                <input type="radio" id="TAB-A01" name="TAB-A" checked="checked">
                <label for="TAB-A01" class="tabLabel">全体</label>
                <div class="content">
                    <div class="content2">
                        <table class="table text-center table-bordered table-light">
                            <tr>
                                {% for table1_column in table1_columns %}
                                    <th>{{ table1_column }}</th>
                                {% endfor %}
                            </tr>
                            {% for row in table1 %}
                                <tr>
                                    {% for sell in row %}
                                        <td>{{ sell }}</td>
                                   {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <input type="radio" id="TAB-A02" name="TAB-A">
                <label for="TAB-A02" class="tabLabel">結果</label>
                <div class="content">
                    <div class="content2">
                        {% if operated_table %}
                                    <table class="table text-center table-bordered table-light">
                                        <tr>
                                            {% for o_table_column in o_table_columns %}
                                                <th>{{ o_table_column }}</th>
                                            {% endfor %}
                                        </tr>
                                        {% for row in operated_table %}
                                            <tr>
                                                {% for sell in row %}
                                                    <td>{{ sell }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<br><br>

{% endblock %}
