<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- bootstrapのリンク -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- cssのリンク -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- javascript -->
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dblist.js') }}"></script>

    <!-- タイトル -->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
      <!-- タイトル -->
      <a class="navbar-brand" href="/">SQLearning</a>
      <!-- 引き出しボタン -->
      <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- リンク -->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- 左側 -->
        <ul class="navbar-nav mr-auto mt-2">
          <li class="nav-item"><a class="nav-link" href="howtouse">使い方</a></li>
          <li class="nav-item"><a class="nav-link" id="sqlist_button">SQLコマンド一覧</a></li>
          <div id="sqlist" class="sqlist">
            <div class="sqlist_content">
              <span class="close" id="sqlist_close">✖</span>
              <div class="h1 text-center">
                SQLコマンド
              </div>
              <hr>
              <div class="container">
                <ul>
                  <li>
                    <div class="h2">
                      テーブルの作成
                    </div>
                    <div class="card">
                      <nobr>
                        CREATE TABLE <span class="text-muted">[テーブル名]</span> (id <span class="text-muted">[属性]</span> PRIMARY KEY, <span class="text-muted">[カラム名]</span> <span class="text-muted">[属性]</span>, ..., FOREIGN KEY <span class="text-muted">[カラム名]</span> REFERENCE <span class="text-muted">[テーブル名]</span> (<span class="text-muted">[部署コード]</span>))
                      </nobr>
                    </div>
                  </li>
                  <li>
                    <div class="h2">
                      INSERT
                    </div>
                    <div class="h4">
                      テーブルの挿入
                    </div>
                  </li>
                  <li>
                    <div class="h2">
                      SELECT
                    </div>
                    <div class="h4">
                      テーブルの抽出
                    </div>
                  </li>
                  <li>
                    <div class="h2">
                      DELETE
                    </div>
                    <div class="h4">
                      テーブルの削除
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <li class="nav-item"><a class="nav-link" id="question_button">困ったとき</a></li>
          <div id="question" class="question">
            <div class="question_content">
              <span class="close" id="question_close">✖</span>
              <div class="h1 text-center">
                Q&A
              </div>
              <ul>
                <li>
                  <div class="h2">
                    問い
                  </div>
                  <div class="h4">
                    答え
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </ul>
        <!-- 右側 -->
        {% if session.user_id %}
          <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/changeprofile">登録情報変更</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">ログアウト</a></li>
          </ul>
        {% else %}
          <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/register">ユーザー登録</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">ログイン</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>
    <!-- アラート -->
    {% if get_flashed_messages() %}
      <header>
        <div class="alert alert-primary border text-center" role="alert">
          {{ get_flashed_messages() | join(" ") }}
        </div>
      </header>
    {% endif %}
    <!-- 内容 -->
    <main class="container p-5">
      {% block main %}{% endblock %}
    </main>
  </body>
</html>